.idea/
*.iml
fabric2fabric/network1/metachan/resourceregistry/chaincode-go/vendor/
fabric2fabric/network1/metachan/connection.json
fabric2fabric/network1/mychannel/crossprimary/chaincode-go/vendor/
fabric2fabric/network1/mychannel/verifynetwork2/chaincode-go/vendor/
fabric2fabric/network1/mychannel/verifynetwork3/chaincode-go/vendor/
fabric2fabric/network1/mychannel/verifyregistry/chaincode-go/vendor/
fabric2fabric/network1/mychannel/connection.json
fabric2fabric/network1/user1@org1-example-com.json
fabric2fabric/network2/metachan/resourceregistry/chaincode-go/vendor/
fabric2fabric/network2/metachan/connection.json
fabric2fabric/network2/mychannel/crossbranch/chaincode-go/vendor/
fabric2fabric/network2/mychannel/verifynetwork1/chaincode-go/vendor/
fabric2fabric/network2/mychannel/verifyregistry/chaincode-go/vendor/
fabric2fabric/network2/mychannel/connection.json
fabric2fabric/network2/user1@org13-example-com.json
fabric2fabric/network3/metachan/resourceregistry/chaincode-go/vendor/
fabric2fabric/network3/metachan/connection.json
fabric2fabric/network3/mychannel/crossbranch/chaincode-go/vendor/
fabric2fabric/network3/mychannel/verifynetwork1/chaincode-go/vendor/
fabric2fabric/network3/mychannel/verifyregistry/chaincode-go/vendor/
fabric2fabric/network3/mychannel/connection.json
fabric2fabric/network3/user1@org12-example-com.json